#background-wrap {
  position: relative;
}

@keyframes animateCloud {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(100vw)
  }
}

/* ANIMATIONS */

.x1 {
  animation: animateCloud 5s linear infinite;
}

/* OBJECTS */

.cloud {
  background: #fff;
  border-radius: 100px;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  height: 120px;
  position: relative;
  width: 350px;
}

.cloud:after,
.cloud:before {
  background: #fff;
  content: '';
  position: absolute;
  z-indeX: -1;
}

.cloud:after {
  border-radius: 100px;
  height: 100px;
  left: 50px;
  top: -50px;
  width: 100px;
}

.cloud:before {
  border-radius: 200px;
  width: 180px;
  height: 180px;
  right: 50px;
  top: -90px;
}