@import "https://fonts.googleapis.com/css?family=Lato:300,900|Libre+Franklin:100,200,300,600,900|Prompt:100,200,300,600,900";
.plant {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plant+.plant {
  margin-left: 4rem;
}

.plant__pot {
  width: 5.5rem;
  height: 0px;
  border-left: 1.1rem solid transparent;
  border-right: 1.1rem solid transparent;
  border-top: 5rem solid #F9627D;
  position: relative;
}

.plant__pot::after {
  content: '';
  width: 6rem;
  height: 1.3rem;
  border-radius: 0.3rem;
  background-color: #F9627D;
  position: absolute;
  top: -5.2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.plant__pot::before {
  content: '';
  width: 5rem;
  height: 0px;
  border-left: 0.2rem solid transparent;
  border-right: 0.2rem solid transparent;
  border-top: 0.8rem solid #EF516E;
  position: absolute;
  top: -4rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.plant__flower {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  background-color: #FFD25A;
  position: relative;
  margin-bottom: 2rem;
  opacity: 0;
  -webkit-animation: rotate-flower 4s ease 1;
  animation: rotate-flower 4s ease 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.plant__petal {
  position: absolute;
  top: -3rem;
  left: -1.25rem;
}

.plant__petal:nth-of-type(2) {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: -1.25rem;
  left: 3.5rem;
}

.plant__petal:nth-of-type(3) {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  top: 1.75rem;
  left: -3rem;
}

.plant__petal:nth-of-type(4) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  top: 3.5rem;
  left: 1.75rem;
}

.plant__petal::before,
.plant__petal::after {
  content: '';
  width: 1.5rem;
  height: 3rem;
  background: white;
  border-radius: 2rem 2rem 0 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  position: absolute;
  left: 1.5rem;
}

.plant__petal::after {
  left: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EDEDED;
}

@-webkit-keyframes rotate-flower {
  from {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0);
    transform: rotate(0) scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}

@keyframes rotate-flower {
  from {
    opacity: 0;
    -webkit-transform: rotate(0) scale(0);
    transform: rotate(0) scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}