@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Pacifico|Satisfy');
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#root {
  overflow-x: hidden;
}

h1 {
  font-family: 'Gloria Hallelujah', cursive;
}

h1.giant {
  font-size: 10rem;
  margin-top: 0px;
  margin-bottom: 1rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h3 {
  font-family: 'Pacifico', cursive;
}

p,
span,
a {
  font-family: 'Satisfy', cursive;
  font-size: 1.2rem;
  margin: 0px;
  margin-bottom: .5rem;
}

* {
  box-sizing: border-box;
}

.cake-candle-light {
  position: relative;
}

.quotes p {
  margin: 1rem 0 2rem;
}

.cake-candle-light::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: radial-gradient(white 20%, transparent 60%);
  position: absolute;
  transform: translateY(-30%);
  animation: light 1s infinite alternate;
}

@keyframes light {
  0% {
    opacity: .2;
  }
  20% {
    opacity: .5;
  }
  50% {
    opacity: .2;
  }
  70% {
    opacity: .3;
  }
  100% {
    opacity: .5;
  }
}

.bintang {
  /* border: 1px solid red; */
  position: absolute;
  width: 50%;
  height: 60%;
  text-align: center;
  bottom: 0px;
  animation: nunduk-left 5s infinite;
  z-index: 10;
}

@keyframes nunduk-left {
  0% {
    transform: rotate(0)
  }
  30% {
    transform: rotate(8deg)
  }
  70% {
    transform: rotate(8deg)
  }
  0% {
    transform: rotate(0deg)
  }
}

.bintang-hair {
  width: 100%;
  height: 2.5rem;
  margin-bottom: -1.5rem;
  position: relative;
  z-index: 5;
  border-top-right-radius: 4rem;
  border-top-left-radius: 100%;
  border-bottom-right-radius: 4rem;
  background: #2a2a2a;
}

.bintang-hair::before {
  content: '';
  display: block;
  position: absolute;
  left: -3rem;
  width: 60%;
  top: .5rem;
  height: 15rem;
  background: #2a2a2a;
  border-radius: 100%;
  border-bottom-left-radius: 0px;
}

.bintang-hair::after {
  content: '';
  display: block;
  position: absolute;
  left: 40%;
  width: 3rem;
  height: 4rem;
  top: 220%;
  transform: translateX(-85%);
  background: #f1c27d;
  border-radius: 100%;
}

.bintang-head {
  width: 90%;
  height: 54%;
  margin-bottom: -1rem;
  position: relative;
  z-index: 1;
  background: #f1c27d;
  border-bottom-right-radius: 12rem;
}

.bintang-face::before {
  content: '';
  display: block;
  width: 3rem;
  height: 2rem;
  position: absolute;
  z-index: 10;
  right: 20%;
  top: 5rem;
  border-radius: 100%;
  border-bottom: 5px solid #2a2a2a;
}

.bintang-face::after {
  content: '';
  display: block;
  width: 2rem;
  height: 3rem;
  background: #f1c27d;
  position: absolute;
  z-index: 10;
  top: 28%;
  right: 15%;
  transform: rotate(-15deg)
}

.ira {
  position: absolute;
  width: 50%;
  height: 57%;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  animation: nunduk-right 5s infinite;
  z-index: 10;
}

@keyframes nunduk-right {
  0% {
    transform: rotate(0)
  }
  30% {
    transform: rotate(-8deg)
  }
  70% {
    transform: rotate(-8deg)
  }
  0% {
    transform: rotate(0deg)
  }
}

.ira-hair {
  width: 100%;
  height: 2.5rem;
  margin-bottom: -1.5rem;
  position: relative;
  z-index: 5;
  background: #2a2a2a;
  border-top-left-radius: 5rem;
}

.ira-hair::before {
  content: '';
  display: block;
  position: absolute;
  right: -3rem;
  width: 60%;
  height: 20rem;
  background: #2a2a2a;
  border-radius: 100%;
  border-bottom-left-radius: 24rem;
  border-top-right-radius: 16rem;
}

.ira-hair::after {
  content: '';
  display: block;
  position: absolute;
  right: 0px;
  width: 3rem;
  height: 4rem;
  top: 220%;
  transform: translateX(-85%);
  background: #ffe0bd;
  border-radius: 100%;
}

.ira-head {
  width: 90%;
  height: 57%;
  margin-bottom: -1rem;
  position: relative;
  z-index: 1;
  background: #ffe0bd;
  border-bottom-left-radius: 12rem;
}

.ira-face::before {
  content: '';
  display: block;
  width: 3rem;
  height: 2rem;
  position: absolute;
  z-index: 10;
  left: 20%;
  top: 5rem;
  border-radius: 100%;
  border-bottom: 5px solid #2a2a2a;
}

.ira-face::after {
  content: '';
  display: block;
  width: 2rem;
  height: 3rem;
  background: #ffe0bd;
  position: absolute;
  z-index: 10;
  /* left: 1.8rem;
  top: 7.5rem; */
  top: 28%;
  left: 14%;
  transform: rotate(15deg)
}

.person-bodies {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0px;
  z-index: 5;
  width: 100%;
}

.bintang-body {
  width: 30%;
  height: 15rem;
  background: #003366;
  border-top-right-radius: 100%;
}

.ira-body {
  width: 35%;
  height: 15rem;
  background: #FFB6C1;
  border-top-left-radius: 100%;
}

.last-words {
  text-align: center;
  color: white;
  width: 100%;
  margin-top: 4rem;
  position: relative;
  z-index: 8;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}