@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Pacifico|Satisfy');
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#root {
  overflow-x: hidden;
}

h1 {
  font-family: 'Gloria Hallelujah', cursive;
}

h1.giant {
  font-size: 10rem;
  margin: 0px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h3 {
  font-family: 'Pacifico', cursive;
}

p,
span,
a {
  font-family: 'Satisfy', cursive;
  font-size: 1.2rem;
  margin: 0px;
  margin-bottom: .5rem;
}

* {
  box-sizing: border-box;
}

.cake-candle-light {
  position: relative;
}

.quotes p {
  margin: 1rem 0 2rem;
}

.cake-candle-light::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: radial-gradient(white 20%, transparent 60%);
  position: absolute;
  transform: translateY(-30%);
  animation: light 1s infinite alternate;
}

@keyframes light {
  0% {
    opacity: .2;
  }
  20% {
    opacity: .5;
  }
  50% {
    opacity: .2;
  }
  70% {
    opacity: .3;
  }
  100% {
    opacity: .5;
  }
}

.bintang {
  border: 1px solid red;
  position: absolute;
  width: 50%;
  height: 70%;
  text-align: center;
  bottom: 0px;
  overflow: hidden;
}

.bintang>* {
  margin: auto;
}

.bintang-head {
  width: 10rem;
  height: 10rem;
  margin-bottom: -1rem;
  position: relative;
  z-index: 1;
  background: #f1c27d;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

.bintang-body {
  width: 11rem;
  height: 10rem;
  background: #003366;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.bintang-legs {
  width: 8.5rem;
  height: 8rem;
  background: black;
}

.ira {
  position: absolute;
  width: 50%;
  height: 50%;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
}

.ira>* {
  margin: auto;
}

.ira-head {
  width: 10rem;
  height: 10rem;
  margin-bottom: -1rem;
  position: relative;
  z-index: 1;
  background: #f1c27d;
  border-radius: 9999px;
}

.ira-body {
  width: 8rem;
  height: 10rem;
  background: #F984E5;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.ira-legs {
  width: 6.5rem;
  height: 8rem;
  background: black;
}